<p>form2validate works!</p>

<h5>{{userForm.value|json}}</h5>

<div class='form-container mb-5'>
  <h3>Angular Enrolment forms</h3>
  <form #userForm='ngForm'>

    <div class="form-group w-50">
      <label for="">Name</label>
      <input required minlength="5" maxlength="20" pattern="[A-Za-z ]+" type="text" class="form-control form-control-sm" name="name" ngModel #fname="ngModel">
      <div class="alert alert-danger" *ngIf="!fname.valid && fname.touched">
        <div *ngIf="fname.errors.required">Required field</div>
        <div *ngIf="fname.errors.minlength">Min 5 cahr req</div>
        <div *ngIf="!fname.pattern">only allow A-z char</div>
      </div>
    </div>

    <div ngModelGroup="adress">
      <div class="form-group w-50">
        <label for="">Street</label>
        <input type="text" class="form-control form-control-sm" name="street" ngModel>
      </div>

      <div class="form-group w-25">
        <label for="">City</label>
        <input type="text" class="form-control" name="City" ngModel>
      </div>

      <div class="form-group w-25">
        <label for="">state</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
    </div>

    <div class="form-group w-25">
      <label for="">Telephone</label>
      <input required type="text" pattern="[0-9]{5,12}" class="form-control" name="telephone" ngModel #ftelephone="ngModel">
      <div class="alert alert-danger" *ngIf="ftelephone.touched">
        <div *ngIf="!ftelephone.pattern">only allow digits 9-12</div>
      </div>    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" value="male" ngModel>
      <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" value="female" ngModel>
      <label class="form-check-label" for="inlineRadio2">Female</label>
    </div>


        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="agree" ngModel>
          <label class="form-check-label" for="exampleCheck1">Agree to Terms</label>
        </div>



  </form>
</div>

<h6>Template variable references --- #myTemplateVar="ngForm" </h6>
<p>As soon as you import the FormsModule, this directive becomes active by default on all (form) tags. You don't need to add a special selector.
<br>You optionally export the directive into a local template variable using ngForm as the key (ex: #myForm="ngForm"). This is optional, but useful. Many properties from the underlying FormGroup instance are duplicated on the directive itself, so a reference to it gives you access to the aggregate value and validity status of the form, as well as user interaction properties like dirty and touched.
<br>To register child controls with the form, use NgModel with a name attribute. You may use NgModelGroup to create sub-groups within the form.</p>


<pre>
  Inherited from ControlContainer
  name: string | number | null
  formDirective: Form | null
  path: string[] | null

  Inherited from AbstractControlDirective
  abstract control: AbstractControl | null
  value: any
  valid: boolean | null
  invalid: boolean | null
  pending: boolean | null
  disabled: boolean | null
  enabled: boolean | null
  errors: ValidationErrors | null
  pristine: boolean | null
  dirty: boolean | null
  touched: boolean | null
  status: string | null
  untouched: boolean | null
  statusChanges: Observable(any) | null
  valueChanges: Observable(any) | null
  path: string[] | null
</pre>
