<div id=divcomp>



  <!-- Navigation bar to browse sub-pages -->





  <nav class="navbar nav-pills navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
      <a class="nav-link py-0" routerLink="/">Home</a>
      <a class="nav-link py-0" routerLink="/Class">Class</a>
      <a class="nav-link py-0" routerLink="/BCA">BCA</a>
      <a class="nav-link py-0" routerLink="/Binding">Binding</a>
      <a class="nav-link py-0" routerLink="/Events">Events</a>
      <a class="nav-link py-0" routerLink="/TwoWayBinding">Two-way Binding</a>
      <a class="nav-link py-0" routerLink="/Pipes">Pipes</a>
      <a class="nav-link py-0" routerLink="/Form1">Form1</a>
      <a class="nav-link py-0" routerLink="/Form2">Form2</a>

    </div>


    <div class="navbar-nav " style="margin-left:3em;">
      <a class="nav-link py-0" routerLink="/CA1-Inject">CA1-Inject</a>
      <a class="nav-link py-0" routerLink="/CA1-Temp1">CA1-T1</a>
      <a class="nav-link py-0" routerLink="/CA1-Temp2">CA1-T2</a>
    </div>

  </nav>


  <!-- main content container -->
  <div class="container-fluid div_router">
    <router-outlet></router-outlet>
  </div>


  <marquee direction="left">app.component.html</marquee>
  <h3>Angular Project by <small>{{title}}</small></h3>
  <h6>Profile: <i>{{cv}}</i></h6>
  <!-- this is interpolation -->

  <!--
    <app-student></app-student>
    <app-bca></app-bca>
    -->

</div>
