#divcomp{
  background-color: powderblue;
  border: 1px solid black;
  padding: 0px;
}

.div_router{
	padding: 0;
}

div a:hover {
  background-color: darkgray;
}

.active {
  background-color: #4CAF50;
}
