<div class="p-4 container-responsive">
<h1>HTTP, Observable & RxJs</h1>

<h6>{{message1}}</h6>
<hr>
<h4>Locally stored Json file - subscribe using observable</h4>
<h5>Object dump</h5>
{{posts}}

<h5>Object dump with json pipe</h5>
{{posts | json}}

<h5>using ngFor loop to list print</h5>
<ul>
  <li *ngFor = "let p of posts">{{this.p.id}} -- {{this.p.name}} -- {{this.p.age}}</li>
</ul>


<br><br>

<hr>

<pre>
  1. http get request from servce
  2. reieve the observable & cast it into an array
  3. subscribe to observable from --list & --details
  4. assign the --- array to local variable

steps:
.. using component made - observable.comp

craete a data folder inside asset folder & inside creat a json4observable.json file and add data.

in app.module.ts file .. add
import ... HttpClientModule ... from '@angular/common/http';
include HttpClientModule in the imports array
----
create service file: serv4observable
there add import statments:
import ... HttpClient ... from '@angular/common/http';
import ... Observable ... from 'rxjs';
import --- interface ..... --- defined by user (Class4observable)


</pre>


<img *ngFor = "let i of [1,2,3,4,5,6,7,8,9]" class="img-fluid" src="./assets/screens/observable/{{i}}.png">



  <marquee direction="right">observable.component.html</marquee>
</div>
