<div id=div_home>
<h2>Humble wolcomes!</h2>
<h6>Home Page Contains some of my favourite projects. Use NAV links to browse them individualy</h6>

<button type="button" class="btn btn-info btn-lg btn-rounded ml-0" data-toggle="modal" data-target="#exampleModalCenter2">
  About the Developer
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div style="width: auto; display: block; margin: auto;">
          <object type="text/html" data="https://banukaknight.github.io/" style="height:80vh; width:100%; overflow:auto; border:1px dotted black">
          </object>
        </div>
      </div>
    </div>
  </div>
</div>
<! -- end modal -->

<app-prac1></app-prac1>

<marquee direction="left">home.component.html</marquee>
</div>
